.form-box {
  box-sizing: border-box;
  position: relative;
  border-radius: 25px;
  background-color: palevioletred;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-box form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.form-box form span {
  text-align: left;
}

.form-box form label,
.form-box form button {
  margin-top: 20px;
  justify-self: center;
}
 
.form-box form input {
  border-radius: 15px;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  border-width: 5px;
}

.form-box form label {
  display: block;
}

.form-box p {
  margin-bottom: 60px;
}

.form-box.register form input {
  border-color: crimson;
}

.form-box.register form input[type="date"] {
  border-color: gold;
}

.error {
  position: absolute;
  height: 30px;
  margin: 0;
  padding: 0;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  text-align: center;
}

.error.visible {
  visibility: visible;
}
