#make-a-meal {
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#make-a-meal button {
  font-size: 50px;
  height: 150px;
  width: 300px;
}

#make-a-meal div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 30px;
  justify-content: center;
  padding-left: 50px;
}

#make-a-meal div span {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

#make-a-meal div span input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

#make-a-meal div span label {
  font-size: large;
}

#make-a-meal div span input[type="checkbox"]:hover,
#make-a-meal div span label:hover {
  cursor: pointer;
}

