:root {
  --header-height: 100px;
  --header-footer-margin: 20px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(
    100vh - var(--header-height) - var(--header-footer-margin) * 2
  );
}

header {
  background-color: palevioletred;
  height: var(--header-height);
  margin-bottom: var(--header-footer-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img:first-child {
  margin: 0px 30px;
}

header img {
  height: 50px;
}

header div,
header nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

header a {
  font-size: large;
}

header a:hover {
  color: gold !important;
}

header a:active {
  text-decoration: underline overline wavy;
}

header .profile-box {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: max-content;
  margin-right: 15px;
  margin-left: -5px;
}

header .profile-box h5,
header .profile-box img {
  margin: 0px;
  padding: 0px;
}

header .profile-box a:active {
  text-decoration: none;
}

footer {
  background-color: palevioletred;
  height: 200px;
  margin-top: var(--header-footer-margin);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer > div:last-child {
  transform: translateY(50%);
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer a {
  font-size: medium;
}

button {
  height: 40px;
  width: 125px;
  border-radius: 20px;
  background-color: crimson;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: gold;
}
