.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: palevioletred;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img:first-child {
    margin: 0px 30px;
}

header img {
    height: 50px;
}

header div, header nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

header a {
    font-size: large;
}

header a:hover {
    color: gold !important;
}
  
header a:active{
    text-decoration: underline overline wavy;
}

footer {
    background-color: palevioletred;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer > div:last-child {
    transform: translateY(50%);
}

footer nav {
    display: flex;
    flex-direction: column;
}

footer a {
    font-size: medium;
}