.order {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 1.7;
}

.order > div:first-child h4 {
  display: inline;
  font-size: 20px;
}

.order div .info,
.order div h4 {
  margin: 0px;
  padding: 0px;
}

.order > div:first-child > ul > li > div {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: middle;
  background-color: palevioletred;
  padding: 0px 20px;
  border-radius: 15px;
}

.order > div:first-child > ul {
  list-style: circle;
  font-size: 35px;
}

.order > div:first-child > ul > li {
  margin-top: 25px;
}

.order img {
  width: 90px;
  height: 60px;
  margin-right: 20px;
}

.order > div:first-child div:first-child {
  padding-top: 10px;
  padding-bottom: 10px;
}

.order > div:first-child ul li > div {
  box-sizing: border-box;
  width: 350px;
}

.order > div:first-child ul li > div .info {
  height: fit-content;
  font-size: 15px;
}

.order #ingredients {
  display: flex;
  align-items: flex-start;
}

.order #ingredients div {
  padding: 0px;
}

.order #ingredients ul {
  padding-left: 25px;
  list-style-type: square;
}

.order .text {
  display: flex;
  flex-direction: column;
}

.order .menu .text {
  flex-grow: 1;
}

.order button {
  font-size: 40px;
  width: 5em;
  height: 2em;
  margin-top: 3em;
}
