.container #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

th {
    text-align: right;
}

th, td {
    padding: 10px 5px;
}

.container #profile div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container #profile div button {
    margin: 35px 25px;
}

