.container #profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

th {
  text-align: right;
}

th,
td {
  padding: 10px 5px;
  overflow: visible;
  height: 21px;
  width: 200px;
}

td span,
td input {
  margin: 0px;
  padding: 0px;
}

.container #profile div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container #profile div button {
  margin: 10px 25px;
}

#profile p {
  bottom: 0%;
}
