:root {
  --form-button-x-space-diff: 70px;
}

.container > input[type="text"] {
  width: 90%;
  height: 15px;
  font-size: large;
  border-radius: 25px;
  padding: 15px;
  background: #fff url("../../assets/magnifying-glass.svg") no-repeat right;
  background-size: 24px;
  background-position: right 10px center;
}

h3 {
  margin-top: 50px;
  font-size: 24px;
}

#menu {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 20px;
}

#menu .item {
  box-sizing: border-box;
  height: 330px;
  width: 300px;
  background-color: palevioletred;
  border-radius: 25px;
  justify-self: center;
}

.item:last-child {
  margin-right: 0;
}

#menu .item,
.item img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.item img {
  height: 60%;
  width: 100%;
}

.item div {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item div * {
  margin: 0px;
  padding: 0px;
}

.item div span:first-child {
  display: flex;
  flex-direction: column;
}

.item div span:first-child * {
  padding-top: 5px;
  padding-left: 10px;
}

.item div span:first-child p {
  font-size: small;
}

.item div span:last-child {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.item button {
  width: 150px;
}

.item.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: limegreen !important;
  position: relative;
}

.item.add:hover {
  cursor: pointer;
}

.item.add h1 {
  font-size: 100px;
}

.item.add h2 {
  margin-top: -45px;
  margin-bottom: 35px;
}

.item.add form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
}

.item.add form span {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  width: 100%;
}

.item.add form span label {
  width: 40%;
  text-align: right;
  margin-right: 5px;
}

.item.add form span input,
.item.add form span input {
  border-radius: 5px;
}

.item.add form span input,
.item.add form span select {
  width: 80%;
  border-radius: 5px;
  border-width: 2px;
  margin-right: 10px;
}

.item.add form span select {
  width: 83%;
}

.item.add form > button {
  transform: translate(var(--form-button-x-space-diff), 40px);
  position: absolute;
  top: 240px;
}

.item.add span > button {
  transform: translateX(calc(0px - var(--form-button-x-space-diff)));
}

.item.add button {
  width: 40%;
}

.item.add button:disabled {
  cursor: not-allowed;
}

.item.add button:disabled:hover {
  background-color: crimson;
}

.item.add .optional {
  position: absolute;
  top: -8px;
  right: 20px;
  display: inline;
  font-size: 10px;
}
